@import './variables.scss';
@import './general.scss';
@import './header.scss';
@import './section1.scss';
@import './pricing-section.scss';
@import './news-section.scss';
@import './app-section.scss';

* {
    padding: 0;
    margin: 0;
    color: $w-color;
}

.container {
    max-width: $width-content;
    width: 100%;
    padding: 0 10px;
}

.template-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.template-grid-2-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.container-app {
    grid-column: 1 / span 2;
    grid-row: 1 /span 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
}
.col-2 {
    grid-column: 1 / span 2;
}
.col-1 {
    grid-column: 1 / span 1;
}
.row-1 {
    grid-row: 1 / span 1;
}
.row-2 {
    grid-row: 2 / span 2;
}
.grid-container {
    grid-column: 2 / span 10;
    grid-row: 1 /span 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
}
.a-items-center {
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}
.dflex {
    display: flex;
}

.flex-grow1 {
    flex-grow: 1;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

h1 {
    @include desctopH1;
}
h2 {
    @include desctopH2;
}
h3 {
    @include desctopH3;
}

.padding-50px-100px {
    padding: 50px 100px;
    gap: 50px;
}
.gap-50px {
    gap: 50px;
}
.btn {
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: $f-size-16px;
    text-align: center;
    text-transform: uppercase;
    background-color: Transparent;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
}

@media (max-width: 414px) {
    .container {
        display: block;
        padding: 19px;
    }
    h2 {
        font-size: 18px;
        line-height: 27px;
    }
    h3 {
        font-size: $f-size-16px;
        line-height: $f-height-24px;
    }
    .header {
        line-height: 13px;
        nav {
            margin: 10px 0 10px 0;
        }
        ul {
            display: block;
        }
        .d-block{
            display: block;
        }
        input {
            width: 95%;
        }
    }
    .container-section {
        h1 {
            text-align: center;
            @include mobileH1;
        }
        h2 {
            text-align: center;
            margin-bottom: 16px;
            @include mobileH2;
        }
        span {
            text-align: center;
        }
        input {
            width: 100%;
        }
    }
    .page-pricing {
        .pricing-item {
            padding: 0;
            margin: 0 1.5rem;
        }
        .text-footer {
            width: 100%;
        }
    }
    .padding-50px-100px {
        padding: 50px 0;
    }
    .page-news {
        width: 100%;
        .news-item {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .img-mews {
            width: 374px;
        }
    }
}