@import './variables.scss';
@import './general.scss';
@import './header.scss';
@import './main-section.scss';
@import './pricing-section.scss';
@import './news-section.scss';
@import './app-section.scss';
@import './footer.scss';
@import './main-section-artist.scss';
@import './popular-tracks.scss';
@import './page-discography.scss';
@import './artist.scss';



* {
    padding: 0;
    margin: 0;
    color: $w-color;
}

.container {
    max-width: $width-content;
    min-width: 414px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

section {
  min-width: 414px;
}

.bg-dark {
    background: $dark-color;
}

.bg-gradient {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.p-top-bot-200px {
    padding: 200px 0;
}

.mg-top-25px {
    margin-top: 25px;
}

.mg-top-bot-45px {
    margin: 45px 0;
}

.mg-top-45px {
    margin-top: 45px;
}

.template-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.template-grid-2-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.container-app {
    grid-column: 1 / span 2;
    grid-row: 1 /span 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
}

.grid-container {
    grid-column: 2 / span 10;
    grid-row: 1 /span 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
}
.a-items-center {
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}
.dflex {
    display: flex;
}

.flex-grow1 {
    flex-grow: 1;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    @include desctopH1;
}
h2 {
    text-align: center;
    @include desctopH2;
}
h3 {
    text-align: center;
    @include desctopH3;
}

.gap-50px {
    gap: 50px;
}
.btn {
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: $f-size-16px;
    text-align: center;
    text-transform: uppercase;
    background-color: Transparent;
    width: 100%;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .container { 
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 800px) {
    .container {
        display: block;
    }
    h2 {
        font-size: 18px;
        line-height: 27px;
    }
    h3 {
        font-size: $f-size-16px;
        line-height: $f-height-24px;
    }
    .header {
        line-height: 13px;
        nav {
            margin: 10px 0 10px 0;
        }
        ul {
            display: block;
        }
        input {
            width: 100%;
        }
        padding: 0 20px;
    }
    .main-section,
    .main-section-artist {
        h1 {
            @include mobileH1;
        }
        h2 {
            margin-bottom: 16px;
            @include mobileH2;
        }
        input {
            width: 100%;
        }
    }
    .page-pricing {
        padding: 100px 20px 20px 20px;
    }
    .news-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .news-item:nth-child(even) {
        flex-direction: column-reverse;
    }
    .app-section {
        .app-layout {
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
    
    .footer-layout {
        .grid-item {
            margin-bottom: 30px;
        }
        .icons-grid {
            margin-bottom: 20px;
        }
        .grid-nav {
            flex-direction: column;
        }
    }

    .popular-tracks {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        h2 {
            padding-bottom: 50px;
        }

        .track {
            flex: 0 0 100%;
        }
    }

    .page-discography {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;

        .discography-item {
            img {
                width: 137px;
                height: 137px;
            }
        }
    }
    .page-similar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;

        .similar-item {
            img {
                width: 137px;
                height: 137px;
            }
        }
    }
}