@import "./variables.scss";

.page-discography {
    @include grid;
    padding-top: 100px;

    p {
        font-size: $f-size-18px;
        line-height: 27px;
        font-style: normal;
        text-transform: uppercase;
    }
}