@import './variables.scss';
.bg-banner {
    height: 750px;

    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;
}

.main-section {
    p {
        @include desctopText;
        margin-top: 17px;
        text-align: center;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        max-width: 570px;
        margin: 17px auto 0 auto;
        max-width: 570px;
        justify-content: space-between;
        gap: 1.5rem;
        .input-form {
            @include desctopText; 
            
            min-width: 270px;
            min-height: 50px;
            padding: 16px 20px;
            
            border: 2px solid #CACACA;
            box-sizing: border-box;
            border-radius: 3px;
            background: transparent;
            outline:none;
            &[type=text]::-webkit-input-placeholder {
                color: $w-color;
            }
        }
        .btn-form {
            padding: 20px 30px;
            text-transform: uppercase;
            
            background: #34C176;
            border-radius: 5px;
        }
    }
    .f-column {
        flex-direction: column;
    }
}